<div class="container">

<div class="sign-up">
  <h1>Sign Up</h1>
</div>

<%= form_for @user do |f| %>

  <!-- <%#= if user.errors.any? %>
    <div class= "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <%# @user.errors.full_messages.each do |msg| %>
          <li><%# = msg %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %> -->

  <%#= f.text_field :username, placeholder: "Username", class: "form-control", :style => "width:100px" %>
  <%= f.text_field :email, placeholder: "Email", class: "form-control", :style => "width:400px" %>
  <%= f.text_field :password, type: "password", placeholder: "Password", class: "form-control", :style => "width:200px" %>
  <%= f.text_field :password_confirmation, type: "password", placeholder: "Password confirmation", class: "form-control", :style => "width:200px" %>
  <%= f.submit "Create", class: "btn btn-md btn-primary post-button", :style => "margin-left:10px" %>

<% end %>
</div>